/* /* #donut {
    color: c("#0c6509", "#7e5b06", "#740404", "#02285c", "#6f6161")
} */


/* #Sabrina {
    grid-column: 1/3;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 35.66% 0 0 0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#Cody {
    grid-column: 1/3;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 17.8% 17.8% 0 0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#Nicklaus {
    grid-column: 1/3;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 35.66% 0 0 0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
} */